*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background-color: hsl(217, 54%, 11%);
    font-size: 18px;
    font-family: 'Outfit', sans-serif;
    font-weight: 300, 400, 600;
}

.card{
    background-color: hsl(216, 50%, 16%);
    margin: 25px auto;
    padding: 1.5em;
    border-radius: 1em;
    width: 375px;
    /* text-align: center; */
}

.card__header{
    width: 100%;
}

.header__img{
    display: block;
    width: 100%;
    border-radius: 0.5em;
}

.card__info{
    position: relative;
    padding: 1em 0;
}

.info__title{
    margin-bottom: 1em;
}

.info__title .title{
    font-size: 1.2em;
    color: hsl(0,0%,100%);
    text-decoration: none;
    font-weight: 600;
}

.card__info .info{
    color: hsl(215, 51%, 70%);
    padding-bottom: 1em;
}

.info__points{
    position: relative;
}

.info__points img{
    vertical-align: middle;
}

.info__eth{
    color: hsl(178, 100%, 50%);

}

.info__days{
    position: absolute;
    right: 0;
    color: hsl(215, 51%, 70%);

}


